version: '3'
services:
  redis:
    image: redis
    ports:
      - '127.0.0.1:6379:6379'
  postgres:
    image: postgres:9.5
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - ${VOLUMES}:${VOLUMES}
    environment:
      - POSTGRES_PASSWORD=${PGPASSWORD}
      - PGDATA=${ENVPGDATA}
      - POSTGRES_USER=${PGUSER}
  rabbitmq:
    container_name: rabbitmq
    hostname: rabbitmq-container
    image: rabbitmq:3.6.2-management
    ports:
      - "127.0.0.1:15672:15672"
      - "127.0.0.1:5672:5672"